<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hoomsun.Dao.UserDao">


	<insert id="in_user" parameterType="com.hoomsun.entity.User">
		insert into
		user
		(Name,Telphone,Code,usertype,registerDate)
		values
		(#{Name},#{Telphone},#{Code},#{usertype},#{registerDate})
	</insert>

	<select id="isexist" parameterType="com.hoomsun.entity.User"
		resultType="com.hoomsun.entity.User">
		select * from user where Telphone=#{Telphone} and Code=#{Code}
	</select>

	<select id="isexist_tel" parameterType="String" resultType="com.hoomsun.entity.User">
		select * from user where Telphone=#{Telphone}
	</select>


</mapper>
 